body {
	--text-color: rgba(255, 255, 255, 0.9);
	background-color: maroon;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	color: var(--text-color);
 
/* 
  --title-box-color: purple;
 */
/* 
  --icon-box-color: green;
 */
/* 
  --hero-box-color: teal;
 */

}

a:link {
	color: var(--text-color);
}

.hero-box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  max-width: 740px;
  min-width: 300px;
  background-color: var(--hero-box-color);
}

.icon-box {
/*   width: 30%; */
  margin: 0 auto;
  background-color: var(--icon-box-color);
}

.text {
  margin: 0 auto 1.5rem;
  width: 80%;
  max-width: 740px;
  font-size: 1.25rem;
}

@media screen and (min-width: 0) {
	.icon {
	  width: 150px;
	/*   margin: 0 auto; */
	}
	.title {
		font-size: 1.5rem;
	}
	.subtitle {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 700px) {
	.icon {
	  width: 200px;
	/*   margin: 0 auto; */
	}
	.title {
	  font-size: 2.75rem;
	}
	.subtitle {
	font-size: 1.5rem;
	}
  
}

.title-box {
  margin: 0 auto;
  padding: 25px;
  background-color: var(--title-box-color);
}

.title {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  margin: 0 auto;
}

.download {
	text-align: center;
	font-size: 1.25rem;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	margin: 0 auto;
	width: 60%;
	padding: .5rem;
}

.hero {
  height: 400px;
  display: flex;
  align-items: center;
}