:root {
	color-scheme: light dark;
}

body
{
	--text-color: rgba(255, 255, 255, 0.9);
	background-color: maroon;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.25rem;
	color: var(--text-color);
	/* 
  --title-box-color: purple;
  --icon-box-color: green;
  --hero-box-color: teal;
  --text-box-color: blue;
 */
}

a { color: var(--text-color); }

.hero
{
	margin: 2.5rem auto;
	display: flex;
	align-items: center;
	justify-items: center;
	align-content: center;
	flex-wrap: wrap;
	height: 80%;
	width: 80%;
	max-width: 740px;
	min-width: 300px;
	background-color: var(--hero-box-color);
}

.icon-box
{
	margin: 0 auto;
	background-color: var(--icon-box-color);
}

.icon
{
	width: 200px;
}

.title-box
{
	margin: 1rem auto;
	padding: 0 1.5rem;
	background-color: var(--title-box-color);
}

.title
{
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	font-size: 2.75rem;
}

.subtitle
{
	text-align: center;
	margin: 0 auto;
	font-size: 1.5rem;
}

body > p
{
	margin: 0 auto 1.5rem;
	width: 80%;
	max-width: 740px;
	background-color: var(--text-box-color);
}

h1
{
	margin: 3rem auto .25em;
	width: 80%;
	max-width: 740px;
	background-color: var(--text-box-color);
	font-size: 1.5rem;
}

h2
{
	margin: 0 auto .25em;
	width: 80%;
	max-width: 740px;
	background-color: var(--text-box-color);
	font-size: 1.25rem;
}

.text
{
	margin: 0 auto 1.5rem;
	width: 80%;
	max-width: 740px;
	background-color: var(--text-box-color);
}

.code
{
	margin: 1.5rem;
	font-family: SF Mono,Menlo,monospace;
	font-size: 1rem;
	white-space: pre;
	overflow-x: scroll;
}

.code-box
{
	margin: 0 auto 1.5rem;
	width: 80%;
	max-width: 740px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid #730000;
}

.download
{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid #730000;
	border-radius: 15px;
	margin: 2.5rem auto;
	width: 60%;
	max-width: 600px;
	min-width: 256px;
	padding: .5rem;
}

.download a
{
	text-decoration: underline;
	font-size: 1.3rem;
}

.drag-screenshot
{
	display: block;
	margin: 2.5rem auto 1rem;
	width: 80%;
	max-width: 646px;
}

.screenshot
{
	display: block;
	margin: 1.5rem auto;
	width: 80%;
	max-width: 740px;
}

footer
{
	background-color: #600000;
	padding: 2rem 0;
	margin-top: 4rem;
	text-align: center;
	font-size: 1rem;
}

footer a
{
	font-size: 1.25rem;
	font-weight: bold;
	text-decoration: none;
	color: #0B82FE;
}

@media (max-width: 680px)
{
	.hero { margin: 2.5rem auto 1rem; }
	.icon { width: 150px; }
	.title { font-size: 2rem; }
	.subtitle { font-size: 1.5rem; }
	.code { font-size: 1rem; }
	footer { padding: 1.5rem 0; }
}

@media (max-width: 450px)
{
	.icon { width: 125px; }
	.title { font-size: 1.6rem; }
	.subtitle { font-size: 1.25rem; }
}

@media (max-width: 390px)
{
	body { font-size: 1rem; }
	
	h1
	{
		margin: 2rem auto .25em;
		font-size: 1.2rem;
	}
	
	.code
	{
		font-size: .75rem;
		margin: .5rem;
	}
	
	.icon { width: 110px; }
	.title { font-size: 1.4rem; }
	.subtitle { font-size: 1.1rem; }
	footer { padding: 1rem 0; }
	
	.download
	{
		margin: 1.5rem auto;
		padding: 1rem;
	}
	
	.download a { font-size: 1.1rem; }
}
