//
//  AppConfig.xcconfig
//  BuildSettingExtractor
//
//  Created by James Dempsey on 11/11/22.
//  Copyright © 2022 Tapas Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Product Bundle Identifier

// A string that uniquely identifies the bundle. The string should be in
// reverse DNS format using only alphanumeric characters (A-Z, a-z, 0-9),
// the dot (.), and the hyphen (-). This value is used as the
// CFBundleIdentifier in the Info.plist of the built bundle.

PRODUCT_BUNDLE_IDENTIFIER = net.tapas-software.${PRODUCT_NAME:rfc1034identifier}

// Allows private app config info to be set and overridden for local dev builds
#include? "/Users/Shared/git/xcconfig-private/CodeSigning.xcconfig"

// Allows private app config information to be set and overridden for CI builds
#include? "PrivateAppConfig.xcconfig"

