//
//  BSE-CodeSigning.xcconfig
//  BuildSettingExtractor
//
//  Created by James Dempsey on 10/2/19.
//  Copyright © 2019 Tapas Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// This file optionally includes an xcconfig file outside of the main
// github repository. This allows for codesigning the app without needing
// to include private values, such as team identifiers, in the public
// repository.

// The optional #include? directive allows the open source project to compile
// when the private xcconfig file is not found.

#include? "/usr/local/etc/xcconfig-private/CodeSigning.xcconfig"
#include? "/Users/Shared/git/xcconfig-private/CodeSigning.xcconfig"


// Code Sign Style

// This setting specifies the method used to acquire and locate signing assets.
// Choose `Automatic` to let Xcode automatically create and update profiles,
// app IDs, and certificates. Choose `Manual` to create and update these yourself
// on the developer website.

// Set to Automatic mode.

CODE_SIGN_STYLE = Automatic


// Code Signing Identity

// The name, also known as the common name, of a valid code-signing certificate
// in a keychain within your keychain path. A missing or invalid certificate
// will cause a build error.

CODE_SIGN_IDENTITY = Apple Development


// Allows private project config information to be set and overridden for production builds
#include? "Private/PrivateProjectConfig.xcconfig"
